@import 'vars';
@import 'global';
@import 'fonts.scss';

.header__top-inner {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 25px;
  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;

  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 2;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  height: 60px;
  display: flex;
  align-items: center;
}

.menu__list {
  li {
    display: inline-block;
  }

  li + li {
    margin-left: 30px;
  }

  a {
    color: #fff;
    font-size: 14px;
  }
}

/* Search */
.search {
  min-height: 533px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.search__inner {
  padding: 135px 0 100px;
  color: #fff;
  text-align: center;

  &-title {
    margin-bottom: 28px;
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
  }

  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      padding-left: 25px;
      padding-right: 60px;
      display: block;
      width: 100%;
      border: none;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      font-size: 14px;
      font-weight: 500;
      outline: none;

      &::placeholder {
        color: #90a4ae;
        font-weight: 500;
      }
    }

    button {
      cursor: pointer;
      outline: none;
      border: none;
      background-color: transparent;

      position: absolute;
      right: 20px;
      top: 16px;
    }
  }
}

/* Products */
.products {
  padding: 110px 0;
  background-color: $gray;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;

  button {
    padding: 15px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
  }

  button + button {
    margin-left: 5px;
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  margin-bottom: 30px;
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

  &-img {
    display: block;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &-content {
    min-height: 90px;
    padding: 10px 30px;
    border-bottom: 1px solid #e7ecf2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
  }

  &-name {
    max-width: 310px;
  }

  &-title {
    display: block;
    color: $bg;
    font-size: 18px;
    font-weight: 500;
  }

  &-category {
    display: block;
    font-size: 14px;
    color: $green;
  }

  &-price {
    font-size: 20px;
    color: $bg;
    font-weight: 700;
  }

  &-info {
    min-height: 70px;
    padding: 10px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-author {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 14px;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.products__bottom-btn {
  text-align: center;

  button {
    margin: 45px 5px 0;
    padding: 20px 30px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
  }
}
